body {
  background-color: #FFEEDF;
  display:flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color:  #1C5A4E;
  width: 240px;
  height: 240px;
  color: #FFEEDF;
  font-family: Montserrat;
  font-size: 200px;
  font-weight: 300;
  position: absolute;
  margin-top: 50%;
  border-radius: 50%;
}